@import 'src/_variables.scss';

.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 0.88rem;
    background-color: $list-background;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}
