@import 'src/_variables.scss';

.Track {
    display: flex;
    background-color: $track-background;
    padding: 0 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-bottom: 1px solid $primary-text;
}

.Track-action {
    all: unset;
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.25rem;
    min-width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-text;
    background-color: $button-primary;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $button-hover;
    }
}

.Track-image {
    margin: 1rem;
    & img {
        border-radius: 10px;
    }
}

.Track-play {
    all: unset;
    padding: 0.25rem;
    min-width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-text;
    background-color: $button-primary;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    & img {
        width: 20px;
        height: 20px;
    }
    &:hover {
        cursor: pointer;
        background-color: $button-hover;
    }
}

.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    & h3 {
        margin-bottom: 0.22rem;
    }
    & p {
        font-size: 0.83rem;
        font-weight: 300;
        color: $primary-text;
    }
}

@media only screen and (max-width: 1020px) {
    h4 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.7rem;
    }
}
