@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

$background-color: #5cdb95;
$primary-text: #016064;
$primary-green: #229617;
$button-primary: #90efdb;
$button-hover: #54d0c0;
$list-background: #90efdb;
$track-background: #90efdb;
